go 1.20

use (
	./exercism/yCompleted/AnnalynsInfil
	./exercism/yCompleted/airport-robot
	./exercism/yCompleted/animal-magic
	./exercism/yCompleted/bird-watcher
	./exercism/yCompleted/blackjack
	./exercism/yCompleted/bob
	./exercism/yCompleted/booking-up-for-beauty
	./exercism/yCompleted/card-tricks
	./exercism/yCompleted/cars-assemble
	./exercism/yCompleted/census
	./exercism/yCompleted/chessboard
	./exercism/clock
	./exercism/yCompleted/collatz-conjecture
	./exercism/yCompleted/darts
	./exercism/yCompleted/difference-of-squares
	./exercism/yCompleted/election-day
	./exercism/yCompleted/elons-toys
	./exercism/yCompleted/etl
	./exercism/yCompleted/expenses
	./exercism/yCompleted/gigasecond
	./exercism/yCompleted/grains
	./exercism/yCompleted/gross-store
	./exercism/yCompleted/hamming
	./exercism/yCompleted/interest-is-interesting
	./exercism/yCompleted/isbn-verifier
	./exercism/yCompleted/isogram
	./exercism/yCompleted/lasagna-master
	./exercism/yCompleted/leap
	./exercism/yCompleted/logs-logs-logs
	./exercism/yCompleted/luhn
	./exercism/yCompleted/meteorology
	./exercism/yCompleted/need-for-speed
	./exercism/yCompleted/nucleotide-count
	./exercism/yCompleted/pangram
	./exercism/yCompleted/parsing-log-files
	./exercism/yCompleted/party-robot
	./exercism/yCompleted/raindrops
	./exercism/yCompleted/resistor-color
	./exercism/yCompleted/resistor-color-duo
	./exercism/yCompleted/reverse-string
	./exercism/yCompleted/rna-transcription
	./exercism/rotational-cipher
	./exercism/yCompleted/scrabble-score
	./exercism/yCompleted/sorting-room
	./exercism/yCompleted/space-age
	./exercism/yCompleted/strain
	./exercism/yCompleted/the-farm
	./exercism/yCompleted/vehicle-purchase
	./exercism/yCompleted/weather-forecast
	./exercism/yCompleted/welcome-to-tech-palace
	./reverse
	./test
	./tutorial_greetings
)
