go 1.20

use (
	./exercism/AnnalynsInfil
	./exercism/blackjack
	./exercism/cars-assemble
	./exercism/need-for-speed
	./exercism/party-robot
	./exercism/vehicle-purchase
	./exercism/weather-forecast
	./exercism/welcome-to-tech-palace
	./reverse
	./test
	./tutorial_greetings
)
