go 1.20

use (
	./exercism/AnnalynsInfil
	./exercism/airport-robot
	./exercism/animal-magic
	./exercism/bird-watcher
	./exercism/blackjack
	./exercism/booking-up-for-beauty
	./exercism/card-tricks
	./exercism/cars-assemble
	./exercism/chessboard
	./exercism/election-day
	./exercism/elons-toys
	./exercism/gross-store
	./exercism/lasagna-master
	./exercism/logs-logs-logs
	./exercism/need-for-speed
	./exercism/party-robot
	./exercism/sorting-room
	./exercism/vehicle-purchase
	./exercism/weather-forecast
	./exercism/welcome-to-tech-palace
	./reverse
	./test
	./tutorial_greetings
)
